NODE_ENV=development
PORT=5001
DATABASE_URL=postgresql://naymhossen@localhost:5432/oursunah

JWT_ACCESS_SECRET=6e7c1dd88f4c64e5dddddfb5e104b56b9a2b8e
JWT_REFRESH_SECRET=65b2efc0d13fa45f3adddd8db725e47374bcb

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

CLIENT_URL=http://localhost:3000
INTERNAL_API_SECRET=f68be767a0129469303c966c8bebd3aad479d48a800f9712762f5128fe3547ec

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret